# Submission 01 for San Francisco Crime Classification
Yang Yang Qian

https://www.kaggle.com/c/sf-crime

In [15]:
import numpy as np
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.neighbors import KNeighborsClassifier

from pandas.api.types import CategoricalDtype
from plotnine import *

%reload_ext autoreload
%autoreload 2
from src.features.build_features import DataFrameSelector, SFCCTransformer, print_summary

import inspect

# Load Data

In [5]:
train_pd = pd.read_csv("../data/raw/train.csv.zip", compression="zip")
test_pd = pd.read_csv("../data/raw/test.csv.zip", compression="zip")

In [14]:
# extract some more features using our custom transformer
sfcc = SFCCTransformer()
pipe = Pipeline([
    ("transformer", sfcc)
])
train_pd = pipe.transform(train_pd)
test_pd = pipe.transform(test_pd)

# EDA

We have about 800k records in both train and test data sets. The train data set has the Category, Descript, and Resolution columns, which are missing from the test data set.

We will need to use the test data set to generate the submission to Kaggle. Thus, we need to split the train data set into train and dev sets for training our classifiers.

In [7]:
print(train_pd.shape)
print(test_pd.shape)

(878049, 9)
(884262, 7)

In [8]:
train_pd.head(3)

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414

In [9]:
test_pd.head(3)

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432
2,2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212

# Classification

# Appendicies

## DataFrameSelector

In [17]:
lines = inspect.getsource(DataFrameSelector)
print(lines)

class DataFrameSelector(BaseEstimator, TransformerMixin):
    """
    Simple helper class, meant make it easier to use Pandas
    along with sklearn Pipeline. Create and initate with a
    list of features, then when the pipeline transform function
    is called, will return a Numpy array of the features.

    See Chap 2 transformation pipelines

    Example:
        train_pd = pd.read_csv("data.csv")
        num_features = ["X", "Y"]
        num_pipeline = Pipeline([
            ("selector", DataFrameSelector(num_features))
        ])
        train_prepared = num_pipeline.transform(train_pd)

    """
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names

    def fit(self, X, y = None):
        return self

    def transform(self, X):
        return X[self.attribute_names].values

## SFCCTransformer

In [18]:
lines = inspect.getsource(SFCCTransformer)
print(lines)

class SFCCTransformer(BaseEstimator, TransformerMixin):
    """
    Helper class for our SanFrancisco Crime Classification project.

    Centralizes transformation logic, and make it easier to use
    transformations with Pandas, Pipeline, and gscv. Note, meant to transform
    Pandas into Pandas.

    Should use in conjunction with DataFrameSelector and one hot encoders.

    See Chap 2 custom transformers

    """
    def __init__(self, holiday_calendar = USFederalHolidayCalendar()):
        self.holiday_calendar = holiday_calendar

    def fit(self, X, y = None):
        return self # no fitting

    def transform(self, X, y = None):

        def add_delta(dtt, delta):
            """
            helper funciton, given a Series of dates,
            returns Series of delta since the mininum date

            see Linda's baseline code
            """
            res = (dtt - dtt.min()) / np.timedelta64(1, delta)
            res = np.floor(res).astype("int")
            return res

        def calc_is_holiday(dtt):
            """
            Helper function, given Series dates,
            returns Series of 1 if date is holiday, 0 otherwise

            https://stackoverflow.com/questions/29688899/pandas-checking-if-a-date-is-a-holiday-and-assigning-boolean-value
            """
            dt = dtt.dt.date
            holidays = self.holiday_calendar.holidays(start = dt.min(), end = dt.max()).date
            res = dt.isin(holidays).astype("int")
            return res

        # extracts various date-related features
        dtt = pd.to_datetime(X.Dates)

        X["hour_delta"] = add_delta(dtt, "h") # hour since start, 0 to 108263
        X["day_delta"] = add_delta(dtt, "D") # day since start, 0 to 4510
        X["week_delta"] = add_delta(dtt, "W") # week since start, 0 to 644
        X["month_delta"] = add_delta(dtt, "M") # month since start, 0 to 148
        X["year_delta"] = add_delta(dtt, "Y") # year since start, 0 to 12

        X["hour_of_day"] = dtt.dt.hour # 0 to 23
        X["day_of_week"] = dtt.dt.dayofweek # 0 to 7, note day name is already DayOfWeek
        X["day_of_month"] = dtt.dt.day # 1 to 31
        X["day_of_year"] = dtt.dt.dayofyear # 1 to 365
        X["week_of_year"] = dtt.dt.week # 2 to 52
        X["month_of_year"] = dtt.dt.month # 1 to 12
        X["quarter_of_year"] = dtt.dt.quarter # 1 to 4
        X["year"] = dtt.dt.year # 2003 to 2015

        X["is_weekend"] = dtt.dt.dayofweek // 5 # 1 if sat or sun, 0 otherwise
        X["is_holiday"] = calc_is_holiday(dtt) # 1 if holiday, 0 otherwise

        # calculate cyclical values for hours, etc
        # http://blog.davidkaleko.com/feature-engineering-cyclical-features.html
        X["hour_of_day_sin"] = np.round( np.sin(dtt.dt.hour * (2. * np.pi / 24)), 3)
        X["hour_of_day_cos"] = np.round( np.cos(dtt.dt.hour * (2. * np.pi / 24)), 3)

        X["day_of_week_sin"] = np.round( np.sin(dtt.dt.dayofweek * (2. * np.pi / 7)), 3)
        X["day_of_week_cos"] = np.round( np.cos(dtt.dt.dayofweek * (2. * np.pi / 7)), 3)

        X["month_of_year_sin"] = np.round( np.sin((dtt.dt.month - 1) * (2. * np.pi / 12)), 3)
        X["month_of_year_cos"] = np.round( np.cos((dtt.dt.month - 1) * (2. * np.pi / 12)), 3)

        # TODO calculate police shifts? apparently its not regularly-spaced shifts



        return X